:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #a63aff;
    --cor-de-fundo: #dca8ff;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}