:root {
    --branco-principal: rgb(199, 100, 219);
    --cinza-secundario: #C0C0C0;
    --botao-azul: #7f34bd;
    --cor-de-fundo: #b7adbe;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}